<body class="chat-body">
  <div class="chat-app">
    <aside class="sidebar">
      <div class="header">
        <h3>Talksy</h3>
        <input type="text" placeholder="Search..." class="search-input" />
      </div>
      <div class="activity-section">
        <div class="activity-avatar"></div>
        <div class="activity-avatar"></div>
        <div class="activity-avatar"></div>
      </div>
      <ul class="chat-list" id="chat-list-parent">
       
      </ul>
    </aside>
    <main class="chat-window">
      <header class="chat-header">
        <div class="chat-user">
          <i class="fa-solid fa-chevron-left back-btn" onclick="switchUi('frnds')"></i>
            <img src="/images/bg-2.jpg" class="avatar" />
          <div class="frnd-info">
            <h5 class="frnd-name">Talksy</h5>
            <small class="frnd-status">Online</small>
          </div>
        </div>
        <div class="chat-actions">
          <button>📞</button>
          <button>🎥</button>
        </div>
      </header>
      <section class="messages" id="field">
      
      </section>
      <footer class="message-input">
        <input id="input-field" type="text" placeholder="Enter Message..." />
        <button id="send-btn"><i class="fa-solid fa-location-arrow"></i></button>
      </footer>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/pagejs/home.js"></script>