<div class="main-div">
    <div class="nav-bar">
        
    </div>
    <div class="frnds-panel">
        <ul class="list-group" id="frnds-list">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
    </div>
    <div class="chat-field">
        <div class="msg-field">
            <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfgjhdgje eekdnf jdhvf ajdhvb akjdvhn asjdhbv akjsdhvb akhdbv adhv asdkv 
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
        </div>
        
        <div class="input-field">
            <input class="form-control text-input" id="input-field" type="text" >
            <div class="btn-parent text-center" >   
                <button class="btn btn-info send-btn" id="send-btn"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        let fromUserId;
        let toUserId;
        const socket = io.connect('http://localhost:4000', { transports: ['websocket'] })
        getUserDetails()
        getFrnds() 
        $("#send-btn").click(()=> {
            let msge =$("#input-field").val();
            let time =  getTime();
            let sendData = {
                fromId: fromUserId,
                toId: toUserId,
                message: msge,
                time: time
            }
            socket.emit('send', sendData);
        })

        function getTime() {
            return Date.now();
        }

        function getFrnds() {
            $.ajax({
                url: "/rest/get-frnds",
                method: "GET"
            }).done(data => {
                console.log(data)
                if (data) {
                    $("#frnds-list").html("");
                    data.forEach(ele => {
                        $("#frnds-list").append(`<li class="list-group-item" onclick="loadChat('${ele._id}')">${ele.name}</li>`)
                    })
                }
            })
        }

        function getUserDetails() {
             $.ajax({
                url: "/rest/get-user-details",
                method: "GET"
            }).done(data => {
               fromUserId = data._id;
            })
        }

        function loadChat(id) {
            console.log(id)
            toUserId = id;
        }
</script>