<div class="main-div">
    <div class="nav-bar">
        
    </div>
    <div class="frnds-panel">

    </div>
    <div class="chat-field">
        <div class="msg-field">
            <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfgjhdgje eekdnf jdhvf ajdhvb akjdvhn asjdhbv akjsdhvb akhdbv adhv asdkv 
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
      <div class="send-parent">
                 <div class="send-message">
                     sdsdf afjgsdfjkvn dfvsdfvb sdfv sdfv jksdfvnij sdfv jsldfkjv dfgsdfg
                </div>
            </div>
            <div class="recieve-parent">
             <div class="recieve-message">
             sdsdffbdfgbhdfgh sdfdfghdfgb sfgsdfg sdfgb sdfg
            </div>
    </div>
        </div>
        
        <div class="input-field">
            <input class="form-control text-input" type="text" >
            <div class="btn-parent text-center" >   
                <button class="btn btn-info send-btn" ><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>